# Python - Assignment

## List_remove_append

Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [1]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']

In [2]:
input_list.pop()

'SPSS'

In [3]:
input_list.append("SPARK")

In [4]:
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

## String to List Conversion
Description: Convert a string input_str = 'I love Data Science & Python' 
to a list by
splitting it on ‘&’.

In [5]:
input_str = 'I love Data Science & Python'

In [6]:
input_str.split("&")

['I love Data Science ', ' Python']

## List to String Conversion
Description: Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very
clear'] to a string using ‘&’.

In [7]:
lst=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

In [8]:
str=" & ".join(lst)

In [9]:
str

'Pythons syntax is easy to learn & Pythons syntax is very clear'

## Nested List
Description: Extract Python from a nested list
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [10]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [11]:
input_list[2][0]

'Python'

## It’s the time to disco
Description: t = ("disco", 12, 4.5)
What is the output of: t[0][2]

In [12]:
t = ("disco", 12, 4.5)

In [13]:
t[0][2]

's'

## String Palindrome
Description: Write a program to check whether a string is a palindrome or not. Print 1 if
the string is a palindrome and 0 otherwise.
['I love Data Science ', ' Python']

Input: Any string
Output: 1 if the string is palindrome, 0 otherwise.

In [14]:
def palindrome(string:str):
    if string==string[::-1]:
        return 1
    else :
        return 0

In [15]:
palindrome('sachin')

0

In [16]:
palindrome("level")

1

## Reverse Words
Description: You will be given a sentence in the form of a string. You have to reverse the
order of the words in the sentence. Remember not to reverse the individual words, but
the order of words. Check the sample input-output for further clarification.
Input: A string, which will consist of a few spaces.
Output: The words in reverse order

In [17]:
str ="You will be given a sentence in the form of a string"

In [18]:
list_str = str.split(" ")
new_lst=[]
for word in list_str[::-1]:
    new_lst.append(word)

In [19]:
print(" ".join(new_lst))

string a of form the in sentence a given be will You

## String Formatting
Description: Write a program that satisfies below examples
Input 1: caloRie ConsuMed
Output 1: calorie_consumed
Input 2: data science
Output 2: data_science
Input 3: datascience
Output 3: datascience

In [20]:
def snake_casing(string:str):
    lower_case_str=string.lower()
    remove_white_spaces= lower_case_str.split()
    if len(remove_white_spaces)>1:
        return ("_".join(remove_white_spaces))
    else:
        return ("".join(remove_white_spaces))

In [21]:
snake_casing("caloRie ConsuMed")

'calorie_consumed'

In [22]:
snake_casing("data science")

'data_science'

In [23]:
snake_casing("datascience")

'datascience'

# Multiple Choice Questions
## 1. How will you extract ‘love’ from the string S = “I love Python”? (More than one
option may be correct.).
a. S[2:5]
b. S[2:6]
c. S[3:7]
d. S[-11:-7]
e. S[-11:-8]

##### b. S[2:6]

## 2. What will the output of 3 * 3 ** 3 be?
a. 9
b. 27
c. 81
d. 729

##### c.81

## 3. What will the output be of ((500//7) % 5) ** 3?
a. 1
b. 2.91
c. 71.42
d. 0
e. 8

##### a.1

## 4. If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?
a. (3, 5, 7, 9, 11)
b. (9, 3, 5, 7, 11)
c. (3, 5, 7, 11, 9)
d. Error

#### d.Error

## 5. What will the output of the following program be?
a. Vikas
b. Mahima
c. y
d. A

##### no program is given in pdf

## 6. What will the output of the following code be?
1 = [32, 34, 12, 27, 33]
l.append((l4, 19))
print(len(l))
a. 5
b. 6
c. 7
d. The code will throw an error

#### d. The code will throw an error because variable name is starting with an integer

## 7. Which of the following statements is incorrect regarding sets in Python?
a. Sets do not contain duplicate elements
b. Sets are represented using curly braces {}
c. Sets are immutable
d. All of the above

#### all of the above are correct so quesstion is framed wrong i guess

## 8. What will the output be of the following code?

D = {l:('Raj', 22), 2:('Simran', 21), 3:['Rahul', 40]}
for val in D:
print(val)

a. 1
2
3
b. [‘Raj’, 22]
[‘Simran’, 21]
[‘Rahul’, 40]
c. 1 [‘Raj’, 22]
2 [‘Simran’, 21]
3 [‘Rahul’, 40]
d. ‘Raj’
‘Simran’
‘Rahul’

#### a.1 2 3

## 9. What will the ‘comprehension equivalent’ be for the following snippet of code?
 for sentence in paragraph:
     for word in sentence.split():
         single_word_list.append(word)
 
 
a. word for sentence in paragraph for word in sentence.split()
b. [word for sentence in paragraph for word in sentence.split()]
c. word for word in sentence.split() for sentence in paragraph
d. [word for word in sentence.split() for sentence in paragraph]

##### b.

##  10.What will be the output of this code?

print(list(range(l0, 1, -1)))
                 
a. [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
b. [9, 8, 7, 6, 5, 4, 3, 2]
c. [9, 8, 7, 6, 5, 4, 3, 2, 1]
d. [10, 9, 8, 7, 6, 5, 4, 3, 2]

#### d.[10, 9, 8, 7, 6, 5, 4, 3, 2]